@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	display: none;
}

.large-mask {
	mask: url(/assets/masks/card-activity-large.svg);
}

.loader{
	
	display: block;
	position: relative;
	height: 10px;
	width: 5%;
	border: 1px solid #fff;
	border-radius: 8px;
	overflow: hidden;
  }
  .loader:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0;
	background: #fff;
	animation: 1.3s prog ease-in infinite;
  }
  
@keyframes prog {
	to  {   width: 100%;}
}

@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Book.woff') format('woff');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Medium.woff') format('woff');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Semibold.woff') format('woff');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Whitney';
	src: url('https://cdn.skyra.pw/whitney-font/v2/Bold.woff') format('woff');
	font-weight: 700;
	font-display: swap;
}